[submodule "submodules/common"]
	path = submodules/common
	url = git@github.com:asveikau/common.git
[submodule "submodules/makefiles"]
	path = submodules/makefiles
	url = git@github.com:asveikau/makefiles.git
